// Fonts
@font-face
  font-family: 'Oleo Script'
  font-style: normal
  font-weight: 700
  src: local('Oleo Script Bold'), local('OleoScript-Bold'), url(https://fonts.gstatic.com/s/oleoscript/v5/hudNQFKFl98JdNnlo363folIZu-HDpmDIZMigmsroc4.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

// Mixins
@mixin bbpad($pad)
  box-sizing: border-box
  padding: $pad
@mixin hw($h, $w)
  height: $h
  width: $w
@mixin layer($index)
  position: fixed
  z-index: $index
@mixin topleft($top, $left)
  left: $left
  top: $top
@mixin topright($top, $right)
  right: $right
  top: $top
@mixin textshadow($color)
  text-shadow: 1px 1px $color, 1px -1px $color, -1px 1px $color, -1px -1px $color

// Reset
html, body
  @include hw(100%, 100%)
  font: 0px "Helvetica Neue", "Segoe UI"
  margin: 0
body
  background: rgb(20,20,20)
a
  text-decoration: none

// Common
.name, .position, .name-small, .link
  @include textshadow(black)
  color: white
.link, .post-date, .post-title
  display: inline-block
header, .name-small, nav, main
  transition: .2s all

// Header
header, footer
  @include layer(3)
  @include hw(200px, 100%)
  background: rgb(20,20,20)
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.5)
  overflow: hidden
header
  border-bottom: 5px solid rgb(20,20,20)
  color: white
  .mainOpen &
    transform: translate3d(0px, -165px, 0px)
.header-bg, .footer-bg
  min-height: 100%
  min-width: 100%
  opacity: 1
  position: absolute
  transition: .2s all
  z-index: -1
  &.hide
    opacity: 0
.name
  font-size: 80px
  font-weight: 700
  padding: 20px 0px 0px 40px
.position
  font-size: 30px
  padding: 0px 0px 0px 40px
  transition: .2s all
  .mainOpen &
    transform: translate3d(0px, -40px, 0px)

// Top Nav
nav
  @include layer(3)
  @include topleft(-40px, -0px)
  @include hw(40px, 100%)
  text-align: right
  .mainOpen &
    transform: translate3d(0px, 40px, 0px)
.name-small, .link
  cursor: pointer
  font-size: 16px
.name-small
  float: left
  padding: 8px 20px 6px 20px
.link
  padding: 8px 10px 6px 10px
  text-align: center
  &:last-child
    padding: 8px 20px 6px 10px

// Footer
footer
  border-top: 5px solid rgb(20,20,20)
  bottom: 0px
  color: white
  transition: .2s transform
  .mainOpen &
    height: 200px
    transform: translate3d(0px, 165px, 0px)

.skills, .contact
  @include hw(160px, 480px)
  position: absolute
  transition: .2s transform
  .mainOpen &
    transform: translate3d(0px, 40px, 0px)

.skills
  @include topleft(20px, 40px)
  background: black
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.5)
.skill
  @include hw(78px, 78px)
  border: 1px solid rgb(20,20,20)
  opacity: 0
  transition: .2s opacity
  &:hover
    opacity: 1 !important

.contact
  @include topright(20px, 40px)
  text-align: center
.lt, .email
  @include textshadow(black)
  font-weight: 700
.lt
  font-size: 40px
.email
  font-size: 30px
  padding: 3px 0px 10px 0px
.footer-link, .footnav-email, .footnav-link
  @include textshadow(black)
  color: white
  display: inline-block
  font-weight: 700
  transition: .2s all
.footer-link
  background: rgba(0,0,0,.8)
  font-size: 26px
  padding: 8px 0px 11px 0px
  width: calc(100% / 3)
  &:nth-child(3):hover
    background: rgb(60,60,60)
  &:nth-child(4):hover
    background: rgb(0,120,180)
  &:nth-child(5):hover
    background: rgb(200,200,200)
    color: rgb(40,40,40)
    text-shadow: none
.foot-nav
  @include layer(3)
  bottom: -40px
  color: white
  pointer-events: none
  right: 0px
  text-align: right
  transition: .2s all
  width: 100%
  .mainOpen &
    transform: translate3d(0px,-40px,0px)
.footnav-link, .footnav-email
  font-size: 16px
  pointer-events: auto
.footnav-link
  padding: 8px
  &:last-child
    padding: 8px 20px 8px 8px
.footnav-email
  @include topleft(0px, 0px)
  padding: 8px 8px 8px 20px
  position: absolute

// Main
main
  @include hw(calc(100% - 80px), 100%)
  overflow: hidden
  position: relative
  top: 40px

// Pages
.page
  @include hw(100%, 100%)
  background: rgb(80,80,80)
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.5)
  overflow: hidden
  position: absolute
  text-align: center
  top: 0
  transition: .2s all
  transform: scale3d(.65,.65,1)
.activePage
  transform: translate3d(0,0,0) !important
  iframe
    transform: translate3d(0,0,0) !important
  .overlay
    pointer-events: none
#sonzai
  transform: scale3d(.65,.65,1) translate3d(-75%,0,0)
  z-index: 2
  iframe
    transform: translate3d(20%,0,0)
  &.inactivePage
    transform: scale3d(.65,.65,1) translate3d(-150%,0,0) !important
#shoku
  left: 0px
  z-index: 1
#yubi
  transform: scale3d(.65,.65,1) translate3d(75%,0,0)
  z-index: 2
  &.inactivePage
    transform: scale3d(.65,.65,1) translate3d(150%,0,0) !important

iframe
  @include hw(100%, 100%)
  border: none
  opacity: 0
  transition: .2s all
  &.show
    opacity: 1

// Overlayers
.overlay
  @include hw(100%, 200%)
  @include topleft(0%, -100%)
  background: rgba(0,0,0,.7)
  opacity: 1
  position: absolute
  transition: .2s all
  .mainOpen &
    opacity: 0
  &:hover
    background: rgb(40,40,40)
.over-nav
  @include layer(3)
  @include topleft(calc(50% - 52px), 0px)
  height: 100px
  pointer-events: none
  width: 100%
  .mainOpen &
    opacity: 0
  & div
    position: absolute
    color: white
    display: inline-block
    font-size: 20px
    text-align: center
    transition: .2s all
    width: 30%
  & h2
    margin: 0
  & p
    margin: 0
    padding: 5px 20px

.over-sonzai
  @include topleft(0px, 1%)
.over-shoku
  @include topleft(0px, 35%)
.over-yubi
  @include topleft(0px, 69%)

@media(max-width: 1040px)
  .skills
    @include topleft(0px, 0px)
    @include hw(200px, 275px)
    overflow: hidden
  .skill
    @include hw(66.66px, 66.66px)

@media(max-width: 900px)
  .over-nav h2
    font-size: 25px

@media(max-width: 800px)
  .over-nav h2
    font-size: 20px
  .over-nav p
    font-size: 18px
  .contact
    box-sizing: border-box
    bottom: 0px
    right: 0px
    top: 40px
    padding: 0px 20px
    width: calc(100% - 275px)
  .lt
    font-size: 30px
  .email
    font-size: 26px
  .footer-link
    font-size: 20px
@media(max-width: 610px)
  .over-nav h2
    font-size: 16px
  .over-nav p
    font-size: 15px
  .name
    padding: 40px 0 0 20px
    font-size: 60px
  .position
    padding: 0 0 0 20px
  .contact
    padding: 2vw 20px 0px 20px
    background: rgba(0,0,0,.6)
    top: 0px
    height: 200px
    width: 100%
  .email
    font-size: 24px
  .skills
    @include hw(calc(100vw / 3), 100%)
  .skill
    @include hw(calc((100vw / 6) - 2px), calc((100vw / 6) - 2px))
  footer
    height: calc(100vw / 3)
