doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="base.css")
    script(type="text/javascript" src="app.js" defer=true)
    title Sean Murray | Software Developer
  body
    header
      img.header-bg(src="img/galaxytop.png")
      .name Sean Murray
      .position Software Developer
    nav
      .name-small(onclick="route('/')") Sean Murray
      .link(onclick="route('sonzai')") C//E
      .link(onclick="route('shoku')") Shoku
      .link(onclick="route('yubi')") Yubi
    main
      .over-nav
        .over-sonzai Control // Escape
        .over-shoku Shoku
        .over-yubi Yubi
      #sonzai.page
        iframe(src="http://sean.mu:4260" onload="frame(this, 1)")
        .overlay(onclick="route('sonzai')")
      #shoku.page
        iframe(src="http://sean.mu:4259" onload="frame(this)")
        .overlay(onclick="route('shoku')")
      #yubi.page
        iframe(src="http://sean.mu:4261" onload="frame(this)")
        .overlay(onclick="route('yubi')")
    footer(onclick="route('/')")
      img.footer-bg(src="img/galaxybottom.png")
      .skills
        img.skill(src="img/A1-html.png" onload="loadSkill(this)")
        img.skill(src="img/A2-css.png" onload="loadSkill(this)")
        img.skill(src="img/A3-es6.png" onload="loadSkill(this)")
        img.skill(src="img/A4-angular.png" onload="loadSkill(this)")
        img.skill(src="img/B1-node.png" onload="loadSkill(this)")
        img.skill(src="img/B2-express.png" onload="loadSkill(this)")
        img.skill(src="img/B3-postgres.png" onload="loadSkill(this)")
        img.skill(src="img/B4-nginx.png" onload="loadSkill(this)")
        img.skill(src="img/C1-gulp.png" onload="loadSkill(this)")
        img.skill(src="img/C2-babel.png" onload="loadSkill(this)")
        img.skill(src="img/C3-sass.png" onload="loadSkill(this)")
        img.skill(src="img/C4-jade.png" onload="loadSkill(this)")
      .lt
        em Let's talk!
      .email savino.act@gmail.com
      a.footer-link(href="https://drive.google.com/file/d/0ByVaJZqEPE5ceUpwZUdFN0NFTzQ/view") Resume
      a.footer-link(href="https://www.linkedin.com/in/sean-murray-b66554111") Linkedin
      a.footer-link(href="https://github.com/sean-xd") Github
    .foot-nav
      .footnav-email savino.act@gmail.com
      a.footnav-link(href="https://github.com/sean-xd") Github
      a.footnav-link(href="https://www.linkedin.com/in/sean-murray-b66554111") Linkedin
      a.footnav-link(href="https://drive.google.com/file/d/0ByVaJZqEPE5ceUpwZUdFN0NFTzQ/view") Resume
      
